
<!DOCTYPE HTML>

<body>
	<p>
		Welcome to sendgame. This game is a text-based dungeon-crawler.
	</p>

	<p>
		You play by navigating your way through a maze of rooms. <br/>
		In each room you may find treasure or an enemy, or both! <br/>
		<br/>
		You interact with the game by sending it commands. <br/>
		These commands are as follows <br/>
		"move [direction]"" where direction is either east, west, north south.<br/>
		"move" without any direction will display what directions you can move<br/>
		"attack" attacks the enemy in the room<br/>
		"treasure" will open the treasure chest in the room<br/>
		"stats" to display stats<br/>
	</p>
</body>
