<!DOCTYPE html>
<html>

<head>
    <title>Email Adventures</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body {
            padding-top: 1em;
        }
    </style>
    <div class="container-fluid">
        <div class="jumbotron text-center">

            <h1>LeaderBoard</h1>
            <h4>Only Few may dare to challenge the vast SendGame</h4>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Tokens</th>
                    <th>Kills</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Username</th>
                    <th>Tokens</th>
                    <th>Kills</th>
                </tr>
            </tfoot>
            <tbody>
                {% for item in query_results %}
                <tr>
                    <div class="row">
                        <td>
                            <h4>{{ item.name }}</h4>
                        </td>
                        <td>
                            <h4>{{ item.tokens }}
                        </td>
                        <td>
                            <h4>{{ item.kills }} </h4>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Initialize Bootstrap functionality -->
    <script>
        // Initialize tooltip component
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        })

        // Initialize popover component
        $(function() {
            $('[data-toggle="popover"]').popover()
        })
    </script>



</body>

</html>
